# Contents of ScanDock #
VTotalScanDock/*
# Except .keep #
!VTotalScanDock/.keep

# Pycharm files #
.idea/

# venv files #
venv/

*.txt
!packages.txt
*.csv
*.data
*.log

# Pycache files #
Modules/__pycache__/
